<!-- Footer -->
<footer class="fixed-bottom bg-dark text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase text-light">Movie Database</h5>
  
          <p class="text-light">
            A fully functional database that integrates Express JS, MongoDb & Mongoose to store and display movie data.
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="/" class="text-light">Home</a>
            </li>
            <li>
              <a href="http://localhost:3000/users/signin" class="text-light">Sign In</a>
            </li>
            <li>
              <a href="http://localhost:3000/users/register" class="text-light">Register</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3 text-light" style="background-color: #212529">
      © 2020 Copyright:
      <a class="text-light" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->