<style> 
  /* Modify the background color */ 
    
  .footer-custom { 
      background-color: rgb(82, 189, 166); 
  } 
  /* Modify brand and text color */ 
    
  .navbar-custom .navbar-brand, 
  .navbar-custom .navbar-text a { 
      color: rgb(240, 240, 240)!important; 
  }
  .text-custom {
    color: rgb(240, 240, 240)!important;
  } 
</style> 

<!-- Footer -->
<footer class="footer-custom text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase text-light">Movie Database</h5>
  
          <p class="text-light">
            A fully functional database that integrates Express JS, MongoDb & Mongoose to store and display movie data.
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="http://localhost:3000/homepage" class="text-light">Home</a>
            </li>
            <li>
              <a href="http://localhost:3000/new-movie" class="text-light">Enter A Movie</a>
            </li>
            <li>
              <a href="http://localhost:3000/dashboard" class="text-light">View Submitted Movies</a>
            </li>
            <li>
          </ul>
        </div>
        <!--Grid column-->
  
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3 text-custom" style="background-color: rgb(82, 189, 166)">
      © 2020 Copyright:
      <a class="text-custom" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->