<style> 
  /* Modify the background color */ 
    
  .navbar-custom { 
      background-color: rgb(82, 189, 166); 
  } 
  /* Modify brand and text color */ 
    
  .navbar-custom .navbar-brand, 
  .navbar-custom .navbar-text a { 
      color: rgb(240, 240, 240)!important; 
  }
  .navbar-nav .nav-item .nav-link{
    color: rgb(240, 240, 240);
    font-family: 'Tomorrow', sans-serif;
  }
  .btn-secondary:hover, #dropdownMenu {
    background-color: rgb(75, 165, 145);
    color: rgb(240, 240, 240);
  }
  .btn-secondary:focus {
    box-shadow: 0 0 0 0.25rem rgb(75, 165, 145);
  }
  #nav-logo {
    font-family: 'Tomorrow', sans-serif;
    letter-spacing: 0.3rem;
    color:rgb(240, 240, 240);
  }
</style> 
<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
  <div class="container-fluid d-flex justify-content-center">
    <a class="navbar-brand" id="nav-logo" href="#">Cinema Watchlist</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list"></i>
    </button>

    <div class="collapse navbar-collapse"  id="navbarsExampleDefault">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item active">
          <a class="nav-link text-white" aria-current="page" href="/homepage">Home</a>
        </li>
      </ul>
      <form class="d-flex" action="/users/signin" method="GET">
        <button class="btn btn-custom" type="submit">Sign In</button>
    </form>
  </div>
  </div>
</nav>