<style> 
  /* Modify the background color */ 
    
  .navbar-custom { 
      background-color: rgb(82, 189, 166); 
  } 
  /* Modify brand and text color */ 
    
  .navbar-custom .navbar-brand, 
  .navbar-custom .navbar-text a { 
      color: rgb(240, 240, 240)!important; 
  }
  .navbar-nav .nav-item .nav-link{
    color: rgb(240, 240, 240)t;
  }
  .btn-secondary {
    background-color: rgb(75, 165, 145);
    border-color: rgb(240, 240, 240);
    color: rgb(240, 240, 240);
  }
  .btn-secondary:hover, #dropdownMenu {
    background-color: rgb(75, 165, 145);
    color: rgb(240, 240, 240);
  }
  .btn-secondary:focus {
    box-shadow: 0 0 0 0.25rem rgb(75, 165, 145);
  }

</style> 

<nav class="navbar navbar-expand-md navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://localhost:8000/homepage">Cinema Watchlist</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item active">
            <a class="nav-link text-white" aria-current="page" href="https://localhost:8000/homepage">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="https://localhost:8000/new-movie">Enter A Movie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="https://localhost:8000/dashboard" tabindex="-1" aria-disabled="true">Submitted Movies</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>
              <%= user %>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="https://localhost:8000/users/settings">Settings</a></li>
              <li><a  class="dropdown-item" href="https://localhost:8000/users/signout">Sign out</a></li>
            </ul>
        </div>
      </div>
    </div>
  </nav>