<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.79.0" />
    <title>Homepage</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.0/examples/starter-template/"
    />

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <style>
      .btn-custom {
        background-color: rgb(82, 189, 166);
        color: rgb(240, 240, 240);
      }
      .btn-custom {
    border-color: rgb(240, 240, 240);
    color: rgb(240, 240, 240);
  }
  .btn-custom:hover {
    background-color: rgb(75, 165, 145);
    color: rgb(240, 240, 240);
  } 
    </style>

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet" />
  </head>
  <body>
    <main class="form-signin">
      <!-- NAVBAR -->
      <%- include ('partials/navbar-post'); %>
      <!-- NAVBAR END-->
      <div class="starter-template text-center py-5 px-3">
        <h1>Movie Database</h1>
        <p class="lead">
          A fully functional database that integrates Express JS, MongoDb &
          Mongoose to store and display movie data.
        </p>
      </div>
      <!-- SIGNOUT MESSAGE -->
      <%- include('partials/messages'); %>
      <!-- SIGNOUT MESSAGE -->
      <div>
        <form
          class="d-flex justify-content-center"
          action="/users/register"
          method="GET"
        >
          <button class="w-50 btn btn-md btn-custom" type="submit">
            Register
          </button>
        </form>
      </div>

      <br />

      <!-- Sign-In Button -->
      <div>
        <form
          class="d-flex justify-content-center"
          action="/users/signin"
          method="GET"
        >
          <button class="w-50 btn btn-md btn-custom" type="submit">
            Sign In
          </button>
        </form>
      </div>
    </main>

    <!--FOOTER START-->
    <%- include ('partials/footer'); %>
    <!--FOOTER END-->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
