<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Hugo 0.79.0" />
    <title>Homepage</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.0/examples/starter-template/"
    />

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet" />
  </head>
  <body>
    <main class="form-signin">
      <!-- NAVBAR -->
    <%- include ('partials/navbar'); %>
    <!-- NAVBAR END-->
      <div class="starter-template text-center py-5 px-3">
        <h1>Movie Database</h1>
        <p class="lead">
          A fully functional database that integrates Express JS, MongoDb &
          Mongoose to store and display movie data.
        </p>
      </div>

      <div class="starter-template text-center py-5 px-3">
        <h1>Welcome <%= user %>!</h1>
      </div>

    </main>

    <!--FOOTER START-->
    <%- include ('partials/footer-post'); %>
    <!--FOOTER END-->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
