<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>User Sign In</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.0/examples/sign-in/"
    />

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <style>
      .btn-custom {
        background-color: rgb(82, 189, 166);
        color: rgb(240, 240, 240);
      }
      .btn-custom {
    border-color: rgb(240, 240, 240);
    color: rgb(240, 240, 240);
  }
  .btn-custom:hover {
    background-color: rgb(75, 165, 145);
    color: rgb(240, 240, 240);
  } 
    </style>

    <!-- Custom styles for this template -->
    <link href="/stylesheets/signin.css" rel="stylesheet" />
  </head>

  <body>
    <header>
      <!-- NAVBAR -->
      <%- include ('partials/navbar-post'); %>
      <!-- NAVBAR END-->
    </header>
    <main class="form-signin text-center py-lg-5">
      <section class="py-5 container-fluid" id="sectionHeader">
        <form action="/users/signin" method="POST">
          <h1>MOVIE DB</h1>
          <!-- VALIDATION ERROR -->
          <%- include ('partials/messages'); %>
          <!-- VALIDATION ERROR-->
          <h2 class="h3 mb-3 fw-normal">Sign In</h2>
          <div class="form-group">
            <label for="username" class="visually-hidden">Username</label>
            <input
              type="username"
              id="username"
              name="username"
              class="form-control"
              placeholder="Username"
              required
              autofocus
            />
          </div>
          <br />
          <div class="form-group">
            <label for="password" class="visually-hidden">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Password"
              required
            />
          </div>
          <div class="checkbox mb-3">
            <label>
              <input type="checkbox" value="remember-me" /> Remember me
            </label>
          </div>
          <div>
            <button class="w-100 btn btn-lg btn-custom" type="submit">
              Sign In
            </button>
          </div>
        </form>
      </section>

      <br />

      <div>
        <form class="d-flex" action="/users/register" method="GET">
          <button class="w-100 btn btn-lg btn-custom" type="submit">
            Register
          </button>
        </form>
      </div>
      <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </main>
    
  </body>
  <!--FOOTER START-->
  <%- include ('partials/footer'); %>
  <!--FOOTER END-->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"
  ></script>
</html>
