 /* .sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -1rem;
  z-index: 100; 
  padding-top: 3.5rem;
  padding-right: 0;
}  */
html {
  max-height: 100%;
  width: 100%;
  background-color :#fafbfe!important;
}
body {
  margin-top: 5rem!important;
  background-color:#fafbfe;
}

#dashboard-main {
  background-color:#fafbfe;
}

.sidebar {
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

a.list-group-item {
  background-color: white!important;
  color: black!important;
}

a.side-link {
  color: black;
}

a.nav-link:hover {
  color: rgb(82, 189, 166);
}

#carouselExampleCaptions {
  margin: 0 auto;
}

.nowTrending {
  color: #fff;
}

#manTheater {
  filter: blur(3px);
  position: relative;
  bottom: 3rem;
  z-index: -1;
  margin: 0 auto;
}

@media (min-width: 992px) {
  #dropNavbar {
    display: none;
  }
}

@media (min-width: 992px) {
.d-lg-block {
    display: block!important;
  }
}

.scrolly {
  position: relative;
  bottom: 60rem;
}

  /* Modify the background color */ 
    
  .navbar-custom { 
    background-color: rgb(82, 189, 166); 
} 
/* Modify brand and text color */ 
  
.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text a { 
    color: rgb(240, 240, 240)!important; 
}
.navbar-nav .nav-item .nav-link{
  color: rgb(240, 240, 240)t;
}
.btn-secondary {
  background-color: rgb(75, 165, 145);
  border-color: rgb(240, 240, 240);
  color: rgb(240, 240, 240);
}
.btn-secondary:hover, #dropdownMenu {
  background-color: rgb(75, 165, 145);
  color: rgb(240, 240, 240);
}
.btn-secondary:focus {
  box-shadow: 0 0 0 0.25rem rgb(75, 165, 145);
}

.card {
  background-color:rgb(255, 255, 255)!important;
  border: 0px!important; 
  -webkit-box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
  box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
}

#watchlist-table {
  background-color:rgb(255, 255, 255)!important;
  -webkit-box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
  box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
  
}