.btn-custom {
    background-color: rgb(82, 189, 166);
    color: rgb(240, 240, 240);
  }
  .btn-custom {
border-color: rgb(240, 240, 240);
color: rgb(240, 240, 240);
}
.btn-custom:hover {
background-color: rgb(75, 165, 145);
color: rgb(240, 240, 240);
} 

#myUL {
    font-size: 1.5rem;
}

#publishBtn {
  width: 50%;
}

img {
  height: 13rem;
  width: 12rem;
}